In [1]:
import sys
sys.path.append('/lustre/project/Stat/s1155202250/fastfolder/code/st/istar/')
from impute import *

In [2]:
class Args:
    def __init__(self):
        self.prefix = 'data/demo/'
        self.epochs = 10  # e.g. 400
        self.n_states = 5
        self.device = 'cuda:2'
        self.n_jobs = 1
        self.load_saved = False

args = Args()

In [3]:
embs, cnts, locs = get_data(args.prefix)

Dataframe loaded from data/demo/cnts.tsv
Pickle loaded from data/demo/embeddings-hist.pickle
Dataframe loaded from data/demo/locs.tsv
Image loaded from data/demo/he.jpg

In [5]:
embs.shape # (h, w, sub_emb_dim+global_emb_dim+3)

(528, 704, 579)

In [6]:
cnts

,IGKC,TMSB10,IGHA1,IGLC2,SCGB2A2,IGHG4,FTH1,ACTB,MGP,HLA-B,...,TRMT112,ADAR,COX20,VPS25,HYAL2,B3GAT3,GRAMD1A,CCM2,CTPS2,DDIT4
spot,,,,,,,,,,,,,,,,,,,,,
10x10,23,19,11,61,2,33,4,8,9,2,...,0,0,0,1,1,0,0,2,0,0
10x11,34,17,21,97,9,42,1,10,4,8,...,0,0,0,0,0,0,0,0,0,1
10x12,6,44,14,13,26,15,11,11,24,10,...,0,0,0,0,1,1,0,0,1,0
10x13,51,40,15,48,10,48,0,7,15,3,...,0,0,0,1,2,2,1,1,0,0
10x14,15,19,10,7,1,3,2,4,7,5,...,2,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9x23,18,13,21,2,0,11,4,10,1,3,...,0,0,2,2,0,2,1,0,0,2
9x24,6,35,15,5,6,6,22,16,5,3,...,0,0,0,0,1,0,0,1,0,0
9x25,17,37,11,7,6,4,13,26,4,2,...,1,0,0,0,0,1,0,0,0,0
9x26,2,15,4,3,0,0,4,9,1,1,...,0,0,0,1,1,0,0,1,0,0
9x9,16,18,16,27,1,22,2,15,5,2,...,0,0,1,0,0,0,0,1,2,0

In [8]:
locs.shape

(441, 2)

In [14]:
    factor = 16
    radius = int(read_string(f'{args.prefix}radius.txt'))
    print(f'radius: {radius}')
    radius = radius / factor

radius: 100

In [15]:
radius

6.25

In [16]:
    n_train = cnts.shape[0]
    batch_size = min(128, n_train//16)

In [17]:
n_train,batch_size

(441, 27)